In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
print(os.listdir("../input/titanic"))

['train.csv', 'test.csv', 'gender_submission.csv']

In [3]:
df_train=pd.read_csv('../input/titanic/train.csv')
df_test=pd.read_csv('../input/titanic/test.csv')
df_gender_submission=pd.read_csv("../input/titanic/gender_submission.csv")
df_train.columns.unique()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_gender_submission.head(5)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
df_train.drop(columns=['Cabin','Name','Ticket','PassengerId'],inplace=True)
df_test.drop(columns=['Cabin','Name','Ticket','PassengerId'],inplace=True)
df_train.columns.unique()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [9]:
df_train['Age']=df_train['Age'].fillna(np.mean(df_train['Age']))
df_test['Age']=df_test['Age'].fillna(np.mean(df_test['Age']))
df_test['Fare']=df_test['Fare'].replace('Q',np.mean(df_test['Fare']))

df_train['Sex']=df_train['Sex'].replace('male','0').replace('female','1')
df_train['Sex']=df_train['Sex'].astype(int)
df_test['Sex']=df_test['Sex'].replace('male','0').replace('female','1')
df_test['Sex']=df_test['Sex'].astype(int)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [11]:

df_train['Embarked'].unique()
df_train.fillna('Q',inplace=True)
df_test['Fare']=df_test['Fare'].replace('Q',np.nan).fillna(np.mean(df_test['Fare'])).astype(int)


d={'C':'0','S':'1','Q':'2'}
for key in d:
    df_train['Embarked']=df_train['Embarked'].str.replace(key,d[key])
    df_test['Embarked']=df_test['Embarked'].str.replace(key,d[key])
df_train['Embarked'].unique()
df_train['Embarked']=df_train['Embarked'].astype(int)
df_test['Embarked']=df_test['Embarked'].astype(int)
df_test['Fare']=df_test['Fare'].astype(int)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    int64
 6   Embarked  418 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 23.0 KB

In [12]:


from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [13]:
df_train['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
y_train=df_train['Survived']
df_train.drop(columns=['Survived'],inplace=True)
X_train=df_train

In [15]:
X_train.info

<bound method DataFrame.info of      Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         3    0  22.000000      1      0   7.2500         1
1         1    1  38.000000      1      0  71.2833         0
2         3    1  26.000000      0      0   7.9250         1
3         1    1  35.000000      1      0  53.1000         1
4         3    0  35.000000      0      0   8.0500         1
..      ...  ...        ...    ...    ...      ...       ...
886       2    0  27.000000      0      0  13.0000         1
887       1    1  19.000000      0      0  30.0000         1
888       3    1  29.699118      1      2  23.4500         1
889       1    0  26.000000      0      0  30.0000         0
890       3    0  32.000000      0      0   7.7500         2

[891 rows x 7 columns]>

In [16]:
param_grid={'n_neighbors':np.arange(1,15,1)}
grid=GridSearchCV(KNeighborsClassifier(),param_grid=param_grid,cv=10,return_train_score=True)
grid.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])},
             return_train_score=True)

In [17]:
grid.fit(X_train,y_train)
knn=KNeighborsClassifier(n_neighbors=grid.best_params_['n_neighbors'])
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [18]:
prediction=knn.predict(df_test)
prediction.shape

(418,)

In [19]:
match_predictions=df_gender_submission['Survived']==prediction
accuracy=np.mean(match_predictions)
print('Accuracy is:', accuracy)

Accuracy is: 0.6650717703349283